body{
	background-image:url('paper.jfif');
	font-size:18px;
	font-family:'Helvetica',cursive;
}

select{
	font-family:"Mali",cursive;
	background-color:#C2B0C9;
}

table{
	border:1px solid black;
	border-collapse:collapse;
	width:50%;
	background-color:#9656A1;
}
tr,td{
	padding:10px,
	text-align:center;
}
