body{
background-color:
font-size:18px;
font-family:'Helvetica',cursive;
}

select{
font-family:"Mali",cursive;
background-color:cornflowerblue;
}

table{
border:1px solid black;
border-collapse:collapse;
width:50%;
background-color:#572987;
}
tr,td{
padding:10px,
text-align:center;
}
