body{
	margin:0;
	padding:0;
	tex-align:center;
	background-image:url('paper.jfif');
	font-size:18px;
	font-family:Helvetica;
}

select{
	font-family:"Mali",cursive;
	background-color:#C2B0C9;
}

table{
	border:1px solid black;
	border-collapse:collapse;
	width:50%;
	background-color:#9656A1;
}
tr,td{
	padding:10px,
	text-align:center;
}

.ret
{
text-transform: uppercase;
text-decoration: none;
background: #36B5B0;
padding: 10px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
	
}
